/* Regole genrali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #00323f;
}

.centratura {
  padding: 0 10%;
}

/* Regole di griglia */
.riga::after {
  content: "";
  display: table;
  clear: both;
}

/* colonne */
.colonna18l {
  float: left;
  width: 18%;
}

.colonna20l{
  float: left;
  width: 20%;
  /* DEBUG:  */
  height: 70px;
  border: 1px solid black;
}

.colonna20r{
  float: right;
  width: 20%;
  /* DEBUG:  */
  height: 70px;
  border: 1px solid black;
}

.colonna25l {
  float: left;
  width: 25%;
  /* DEBUG:  */
  background-color: red;
  height: 70px;
  border: 1px solid black;
}

.colonna25r{
  float: right;
  width: 25%;
  /* DEBUG:  */
  height: 70px;
  border: 1px solid black;
}

.colonna40l {
  float: left;
  width: 40%;
  /* DEBUG:  */
  background-color: red;
  height: 70px;
  border: 1px solid black;
}

.colonna40r {
  float: right;
  width: 40%;
  /* DEBUG:  */
  height: 70px;
  border: 1px solid black;
}

.colonna43r {
  float: right;
  width: 43%;
  /* DEBUG:  */
  height: 70px;
  border: 1px solid black;
}

.colonna70r {
  float: right;
  width: 70%;
}

/* Orange button */
.orangebutton {
  border: 2px solid #ff8141;
  padding: 14px 18px;
  border-radius: 5px;
  color: #fff !important;
  background-color: #ff8141;
  text-decoration: none;
}

/* Header */

/* Fixed */
header .fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ededed;
  height: 70px;
  border-bottom: 2px solid #777;
}

header .fixed .text {
  line-height: 70px;
}

header .fixed .text .fa-globe-europe {
  color: #454545;
}

header .fixed .text .fa-search {
  color: #00c1c2;
  margin-right: 3%
}

header .fixed .text a {
  text-decoration: none;
  margin: 0 3%;
}

header .fixed .text .borderight {
  border-right: 1px solid #777;
  padding-right: 3%
}

header .fixed .text #login {
  border: 2px solid #ff8141;
  padding: 5px 3%;
  border-radius: 5px;
  color: #ff8141;
  background-color: #fff;
}

header .fixed .text .orangebutton {
  padding: 5px 3%;
}

/* Navbar */
header .navbar {
  height: 70px;
  margin-top: 70px;
}

header .navbar img {
  width: 100px;
  margin-top: 20px;
}

header .link li {
  display: inline-block;
  margin: 0 2%;
  line-height: 70px;
}

header .link a {
  text-decoration: none;
  padding-right: 4px;
}

/* Main header */
header .main-header {
  height: 70vh;
  background-image: url('img/jumbotron.png');
  background-position: bottom;
  background-size: cover;
}

header .main-header .text {
  width: 45%;
}

header .main-header h1 {
  font-size: 40px;
  padding: 60px 0 30px;
}

header .main-header p{
  margin-bottom: 40px;
}

header .main-header .info {
  margin-top: 40px;
  font-size: 13px;
}

/* Main */
main {
  background-color: #ededed;;
}

/* Sezione Cubo */
main .cubo {
  text-align: center;
  padding: 40px 15%;
}

main .cubo img {
  width: 250px;
  margin: 0 auto;
}

main .cubo h3 {
  font-size: 28px;
  margin: 20px 0;
}

/* Sezione Free */
main .free .riga{
  background-color: #fff;
  box-shadow: 0px 0px 3px 3px #ddd;
  border-radius: 7px;
  padding: 55px 10% 70px;
}

main .free .img-butt {
  text-align: center;
}

main .free img {
  width: 160px;
  margin-bottom: 35px;
}

main .free h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

main .free p {
  margin-bottom: 23px;
}

main .free h4, main .free .hr {
  display: inline-block;
}

main .free .hr{
  width: 60%;
  height: 2px;
  background-color: #999;
  margin: 5px 40px;
}

main .free .h4hr {
  margin-bottom: 23px;
}

main .free li {
  display: inline-block;
  margin-right: 20px;
}

main .free li i {
  color: #ff8141;
  margin-right: 5px;
}

main .tt {
  /* DEBUG:  */
  background-color: red;
  height: 80px;
  border: 1px solid black;
}

footer {
  /* DEBUG:  */
  background-color: green;
}

footer .contlang {
  /* DEBUG:  */
  background-color: red;
  height: 80px;
  border: 1px solid black;
}
