/* Regole genrali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centratura {
  padding: 0 10%;
}

/* Regole di griglia */
.riga::after {
  content: "";
  display: table;
  clear: both;
}

/* colonne */
.colonna12l {
  float: left;
  width: 12%;
  /* DEBUG:  */
  height: 70px;
  border: 1px solid black;
}

.colonna21l{
  float: left;
  width: 21%;
  /* DEBUG:  */
  height: 70px;
  border: 1px solid black;
}

.colonna21r{
  float: right;
  width: 21%;
  /* DEBUG:  */
  height: 70px;
}

.colonna25l {
  float: left;
  width: 25%;
  /* DEBUG:  */
  background-color: red;
  height: 80px;
  border: 1px solid black;
}

.colonna40l {
  float: left;
  width: 40%;
  /* DEBUG:  */
  background-color: red;
  height: 80px;
  border: 1px solid black;
}

.colonna40r {
  float: right;
  width: 40%;
  /* DEBUG:  */
  height: 80px;
  border: 1px solid black;
}

.colonna50r {
  float: right;
  width: 50%;
  /* DEBUG:  */
  background-color: red;
  height: 80px;
  border: 1px solid black;
}

/* Orange button */
.orangebutton {
  border: 2px solid #ff8141;
  padding: 8px 12px;
  border-radius: 5px;
  color: #fff !important;
  background-color: #ff8141;
}

/* Header */

/* Fixed */
header .fixed {
  background-color: #ededed;
  height: 70px;
  border-bottom: 2px solid #777;
}

header .fixed .text {
  line-height: 70px;
}

header .fixed .text .fa-globe-europe {
  color: #454545;
}

header .fixed .text .fa-search {
  color: #00c1c2;
  margin-right: 3%
}

header .fixed .text a {
  color: #454545;
  text-decoration: none;
  margin: 0 3%;
}

header .fixed .text .borderight {
  border-right: 1px solid #777;
  padding-right: 3%
}

header .fixed .text #login {
  border: 2px solid #ff8141;
  padding: 5px 3%;
  border-radius: 5px;
  color: #ff8141;
  background-color: #fff;
}

header .fixed .text .orangebutton {
  padding: 5px 3%;
}

/* Navbar */
header .navbar {
  height: 70px;
}

header .navbar img {
  width: 100px;
  margin-top: 20px;
}

header .link li {
  display: inline-block;
  color: #777;
  margin: 0 2%;
  line-height: 70px;
}

header .link a {
  text-decoration: none;
  color: #777;
  padding-right: 4px;
}

/* Main header */
header .main-header .text {
  /* DEBUG:  */
  width: 45%;
  height: 100px;
  background-color: red;
}

main {
  /* DEBUG:  */
  background-color: blue;
}

main .cubo {
  /* DEBUG:  */
  background-color: red;
  height: 80px;
  border: 1px solid black;
}

main .tt {
  /* DEBUG:  */
  background-color: red;
  height: 80px;
  border: 1px solid black;
}

footer {
  /* DEBUG:  */
  background-color: green;
}

footer .contlang {
  /* DEBUG:  */
  background-color: red;
  height: 80px;
  border: 1px solid black;
}
