/* Regole genrali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #00323f;
}

.centratura {
  padding: 0 10%;
}

/* Regole di griglia */
.riga::after {
  content: "";
  display: table;
  clear: both;
}

/* colonne */
.colonna18l {
  float: left;
  width: 18%;
}

.colonna20l{
  float: left;
  width: 20%;
}

.colonna20r{
  float: right;
  width: 20%;
}

.colonna25l {
  float: left;
  width: 25%;
}

.colonna25r{
  float: right;
  width: 25%;
}

.colonna30l {
  float: left;
  width: 30%;
}

.colonna40r {
  float: right;
  width: 40%;
}

.colonna43r {
  float: right;
  width: 43%;
  }

.colonna43l {
  float: left;
  width: 43%;
}

.colonna50r {
  float: right;
  width: 50%;
}

.colonna70r {
  float: right;
  width: 70%;
}

/* Orange button */
.orangebutton {
  border: 2px solid #ff8141;
  padding: 14px 18px;
  border-radius: 5px;
  color: #fff;
  background-color: #ff8141;
  text-decoration: none;
}

.orangebutton:hover {
  background-color: #ffbb99;
  border-color: #ffbb99;
}

/* paragrafi */
p {
  line-height: 1.7em;
}

/* icona check */
.fa-check-circle{
  color: #ff8141;
  margin-right: 5px;
}

/* Header */

/* Fixed */
header .fixed {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ededed;
  height: 70px;
  border-bottom: 2px solid #777;
}

header .fixed .text {
  line-height: 70px;
}

header .fixed .text .fa-globe-europe {
  color: #454545;
}

header .fixed .text .fa-search {
  color: #00c1c2;
  margin-right: 3%
}

header .fixed .text a {
  text-decoration: none;
  margin: 0 3%;
}

header .fixed .text .borderight {
  border-right: 1px solid #777;
  padding-right: 3%
}

header .fixed .text #login {
  border: 2px solid #ff8141;
  padding: 5px 3%;
  border-radius: 5px;
  color: #ff8141;
  background-color: #fff;
}

header .fixed .text #login:hover {
  background-color: #ffddcc;
}

header .fixed .text .orangebutton {
  padding: 5px 3%;
}

/* Navbar */
header .navbar {
  height: 70px;
  margin-top: 70px;
}

header .navbar img {
  width: 100px;
  margin-top: 20px;
}

header .link li {
  display: inline-block;
  margin: 0 2%;
  line-height: 70px;
}

header .link a {
  text-decoration: none;
  padding-right: 4px;
}

/* Main header */
header .main-header {
  height: 70vh;
  background-image: url('img/jumbotron.png');
  background-position: bottom;
  background-size: cover;
}

header .main-header .text {
  width: 45%;
}

header .main-header h1 {
  font-size: 40px;
  padding: 60px 0 30px;
}

header .main-header p{
  margin-bottom: 40px;
}

header .main-header .small {
  margin-top: 40px;
  font-size: 13px;
}

/* Main */
main {
  background-color: #ededed;;
}

/* Sezione Cubo */
main .cubo {
  text-align: center;
  padding: 40px 15%;
}

main .cubo img {
  width: 250px;
  margin: 0 auto;
}

main .cubo h3 {
  font-size: 28px;
  margin: 20px 0;
}

/* Sezione Free */
main .free .riga{
  background-color: #fff;
  box-shadow: 0px 0px 3px 3px #ddd;
  border-radius: 7px;
  padding: 55px 10% 70px;
}

main .free .img-butt {
  text-align: center;
}

main .free img {
  width: 160px;
  margin-bottom: 35px;
}

main .free h3 {
  font-size: 22px;
  margin-bottom: 25px;
}

main .free p {
  margin-bottom: 23px;
}

main .free h4, main .free .hr {
  display: inline-block;
}

main .free .hr{
  width: 60%;
  height: 2px;
  background-color: #999;
  margin: 5px 40px;
}

main .free .h4hr {
  margin-bottom: 23px;
}

main .free li {
  display: inline-block;
  margin-right: 20px;
}

/* Sezione tris */
main .tris .all {
  margin: 50px 0;
  padding: 25px 10% 40px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 3px 3px #ddd;
  border-radius: 7px;
}

main .tris .colonna30l:nth-child(2) {
  margin: 0 5%;
}

main .tris img {
  height: 115px;
}

main .tris h3 {
  font-size: 22px;
  margin: 25px 0;
}

main .tris .sec1 {
  padding-bottom: 50px;
  border-bottom: 1px solid #999
}

main .tris .sec2 h4 {
  margin: 40px 0 30px;
}

main .tris ul {
  margin-bottom: 70px;
}

main .tris li {
  list-style: none;
  text-align: left;
}

/* Sezioe table */
main #table {
  background: linear-gradient(45deg, #00a6d9, #1ab299);
  text-align: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

main #table * {
  color: white;
}

 main #table h3 {
  font-size: 29px;
  margin-bottom: 40px;
 }

 main #table p {
   margin-bottom: 40px;
 }

main .table .all {
  padding: 15px 10%;
  text-align: center;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: relative;
}

main .table img {
  width: 60px;
  margin-top: 1px;
}

main .table .hub-acad {
  font-size: 13px;
  position: absolute;
  left: 28%;
  top: 9%;
}

main .table .academy {
  font-size: 23px;
}

main .table .all i{
  font-size: 40px;
}

main .table .fa-hubspot {
  font-size: 18px;
}

main .table .number {
  font-size: 40px;
  font-weight: 500;
  margin: 20px 0;
}

main .table .description {
  font-size: 13px;
}

main .table .cell4 {
  font-size: 24px;
  margin-top: 12px;
}

main .table .cell8 {
  margin-top: 12px;
}

main .table .cell8 strong {
  font-size: 24px;
}

main .table .small {
  font-size: 11px;
}

main #table #no-bord-row .all {
  border-bottom: 0;
}

main .table .all.no-right {
  border-right: 0;
}

/* Sezione customers */
main .customers .riga {
  padding: 50px 10%;
}

main .customers strong {
  font-size: 40px;
  display: inline-block;
  margin-bottom: 25px;
}

main .customers .icon {
  display: inline-block;
  width: 23%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

/* Sezione start */
main .start h3 {
  font-size: 30px;
  padding: 40px 0 30px;
}

main .start p {
  margin-bottom: 40px;
}

main .start .small {
  margin-top: 40px;
  font-size: 13px;
}

main .start img {
  width: 65%;
  margin-left: 25%;
}

main .start {
  padding-bottom: 60px;
}


/* Footer */
footer {
  background-color: #00323f;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer * {
  color: #fff;
}

/* Info */
footer a:hover {
  color: #99ccff;
}

footer i:hover {
  color: #99ccff;
}

footer .info h4 {
  margin-bottom: 25px;
}

footer .info li {
  list-style: none;
  margin-bottom: 20px;
}

footer .info a {
  text-decoration: none;
}

footer .info a.button {
  display: inline-block;
  color: #00323f;
  background-color: #fff;
  padding: 8px 3%;
  border-radius: 5px;
  margin-bottom: 20px;
}

footer .info i {
  margin-right: 9%;
  margin-bottom: 110px;
}

/* Lingue */
footer .contlang {
  text-align: center;
  border-bottom: 1px solid #fff;
}

footer .contlang li {
  list-style: none;
  display: inline-block;
  margin-right: 3%;
  margin-bottom: 15px;
}

footer .contlang a {
  text-decoration: none;
}

/* Legal stuff */
footer .copy {
  padding-top: 30px;
}

footer .copy img {
  width: 100px;
}

footer .copy a {
  text-decoration: none;
  margin-right: 10%;
}
